    
.main-sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 212px;
    min-height: 100%;
    background: #1e1f26;
    transition: left 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}
    
.user-title{
    font-weight: 400;
    width: inherit;
    position: absolute;
    top:10%;
    text-align: center;
    color: white;
}


    
.user-content{
    font-weight: 400;
    width: inherit;
    position: absolute;
    top:30%;
}

.user-menuitems{
    list-style-type: none;
    margin: 0px;
    padding: 0;
}

.user-menuitems li{
    padding: 1.075rem 2rem;
    text-transform: capitalize;
    box-sizing: content-box;
    height: 32px;
}
.user-menuitems li:hover{
    background-color: #000;
}

.user-menuitems li a{
    outline: none;
}

/*

disable underline effect

li:after {
  display:block;
  content: '';
  border-bottom: solid 3px rgb(227, 227, 120);
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

li.fromRight:after{ transform-origin:100% 50%; }
li:hover:after { transform: scaleX(1); }
li.leftanimation:after{  transform-origin:  0% 50%; }

*/

.navIcon{
    position: relative;
    top: 6px;
    margin: 0px 8px;
}

.menu-icon {
    position: fixed;
    left: -100px;
}

.hide-sidebar{
    display: none;
}

.closeArrow{
    color:#1e70bf;
    position: relative;
    top:6px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
    -webkit-tap-highlight-color:rgba(0,0,0,0);
  }


@media only screen and (max-width: 768px) {
    .main-sidebar{
        position: fixed;
        z-index: 1999;
        left:-220px;
        transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1) 0s;
        font-size: 16px;
    }
    .menu-icon {
        padding:8px;
        display: inline;
        cursor: pointer;
        color:#1e70bf;
        left:0px;
        position: absolute;
        z-index: 1500;
    }
    .hide-sidebar{
        display: flex;
        flex-direction: row-reverse;
        cursor: pointer;
    }
        
  }

