    
.main-sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 188px;
    min-height: 100%;
    background: #afcec3;
}
    
.user-title{
    font-weight: 400;
    width: inherit;
    position: absolute;
    top:10%;
    text-align: center;
}


    
.user-content{
    font-weight: 400;
    width: inherit;
    position: absolute;
    top:30%;
}

.user-menuitems{
    list-style-type: none;
    margin: 0px;
    padding: 0;
}

.user-menuitems li{
    margin: 2rem 1rem;
    padding:0px 20px;
    text-transform: capitalize;
}

.user-menuitems li a{
    outline: none;
}

/*

disable underline effect

li:after {
  display:block;
  content: '';
  border-bottom: solid 3px rgb(227, 227, 120);
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

li.fromRight:after{ transform-origin:100% 50%; }
li:hover:after { transform: scaleX(1); }
li.leftanimation:after{  transform-origin:  0% 50%; }

*/
