@font-face {
  font-family: 'ConcertOne';
  src: local('ConcertOne'), url('Style/fonts/ConcertOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'FredokaOne';
  src: local('FredokaOne'), url('Style/fonts/FredokaOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'telefon-black';
  src: local('telefon-black'), url('Style/fonts/telefon-black.woff') format('woff');
}

html {
  font-family: 'Lato';
  font-weight: 400;
}
